/* general */

body {
    background: #222 linear-gradient(#111, #222) fixed;
    color: #ddd;
}

h1, h2, h3 {
    font-weight: bold;
    display: inline-block;
    margin: 0;
}

h4 {
    line-height: 2;
}

h4 {
    font-weight: bold;
}

    h4.description,
    h4.timestamp {
        line-height: 1.1;
    }

    h4 small {
        color: #aaa;
    }

p {
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: justify;
}

a {
    color: #eee;
    font-weight: bold;
    transition: 0.1s;
}

    a:hover,
    a:focus {
        color: #fff;
        text-decoration: none;
    }

img {
    max-width: 100%;
}

main {
    margin-top: 72px;
}

article {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    margin-bottom: 20px;
}

.cover {
    background-size: cover;
}

.well {
    color: #000;
}

.widescreen {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

    .widescreen > * {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }

.default-line-height > * {
    line-height: inherit !important;
}

/* header */

.navbar {
    background: #900 linear-gradient(#a00, #800);
    border: none;
    box-shadow: 0 16px 16px 0 #111;
    min-height: 40px;
    padding: 0;
}

    .navbar .navbar-nav > li a {
        color: #eee;
        display: block;
        font-weight: normal;
        min-width: 48px;
        padding: 8px 10px;
    }

        .navbar .navbar-nav > li a:hover,
        .navbar .navbar-nav > li a:focus {
            background: #600 linear-gradient(#700, #500);
        }

#main-menu-button {
    z-index: 1;
}

#available-message {
    margin-top: 50px;
    background: #444 linear-gradient(#555, #333);
    margin-bottom: 20px;
}

    #available-message p {
        padding: 16px 0 12px 0;
        margin: 0;
    }


/* index */

#title svg {
    width: 100%;
}

.hero {
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 0.1s;
}

img.hero:hover,
img.hero:focus {
    filter: brightness(90%) contrast(125%) saturate(150%);
    transition: 0.1s;
}

#services img.hero:hover,
#services img.hero:focus {
    filter: contrast(110%) saturate(110%);
}

/* mobile */

@media (max-width: 991px) {
    .navbar {
        background: transparent;
        margin: 0;
    }

        .navbar .navbar-nav {
            background: #900 linear-gradient(#a00, #800);
            padding: 0;
        }

            .navbar .navbar-nav > li.main-menu {
                background: #333;
                min-height: 40px;
                transition: 0.1s;
            }

                .navbar .navbar-nav > li.main-menu:last-child {
                    box-shadow: 0 16px 16px 0 #111;
                }

                .navbar .navbar-nav > li.main-menu:hover,
                .navbar .navbar-nav > li.main-menu:focus,
                .navbar .navbar-nav > li.main-menu a:hover,
                .navbar .navbar-nav > li.main-menu a:focus {
                    background: #555 linear-gradient(#666, #444);
                }

    #initials {
        position: absolute;
        top: 0;
        width: 100%;
    }

    #available-message {
        margin-top: 40px;
    }
}

/* resume */

.page {
    background-color: #fafafa;
    color: #222;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .page img {
        height: 1.5in;
        width: 1.5in;
    }

    .page h3 {
        font-size: 18px;
    }

    .page h4 {
        font-size: 16px;
        line-height: 1.1;
    }

    .page i,
    .page li {
        font-size: 12px;
    }

    .page a,
    .page a:hover,
    .page a:focus {
        color: #000;
    }

        .page a:hover,
        .page a:focus {
            color: #333;
        }

    .page .contact {
        clear: both;
    }

        .page .contact h1 {
            margin-bottom: 0.1in;
        }

        .page .contact a {
            font-weight: normal;
        }

    .page .keep-together {
        page-break-inside: avoid;
        margin-bottom: 0.25in;
        clear: both;
    }

@media (max-width: 992px) {
    .page ul {
        padding-left: 16px;
    }

        .page ul li.col-sm-6 {
            padding: 0 7.5px;
        }
}

@media print {
    main {
        padding-top: 0;
    }

    article {
        margin: 0;
    }

    footer {
        display: none;
    }

    a[href]:after {
        content: "";
    }
}

@media screen and (min-width: 768px) {
    .page {
        padding: 0.25in 0.5in;
    }
}

@page {
    margin: 0.25in;
}

/* code */

@media (max-width: 480px) {
    ol div.code {
        margin-left: -1em;
    }
}

div.code {
    background: #333;
    border: 1px solid #666;
    border-radius: 4px;
    font-family: monospace;
    max-width: calc(100vw - 30px);
    overflow-x: auto;
    padding: 8px;
    white-space: pre;
}