:root {
    font-size: 16px;
    line-height: 1.5;
}

* {
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #538d43;
    text-decoration: none;
}

p {
    text-align: justify;
}

ul {
    padding-left: 1.25rem;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

figcaption {
    font-style: italic;
    text-align: center;
    margin-bottom: 1rem;
}

code {
    display: inline-block;
    padding: 0.5rem;
    font-family: monospace;
    white-space: pre-wrap;
    background-color: #eee;
    border-radius: 0.25rem;
    max-width: calc(100% - 1rem);
}

nav {
    width: 100vw;
    padding-bottom: 0.25rem;
    background: linear-gradient(90deg, #538d43 25%, #3eb41d 50%, #3eb41d3f);
}

nav ul {
    display: flex;
    justify-content: space-around;
    background: white;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    color: black;
    font-weight: 300;
    text-decoration: none;
    padding: 1rem;
}

nav a:hover, nav a:focus {
    color: #538d43;
    background-color: #0000001f;
}

nav img {
    max-height: 1.5rem;
}

main {
    max-width: min(50rem, 100vw);
    padding: 1rem;
}

.widescreen {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.widescreen>* {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

section.talk {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
}

.talk aside {
    flex: 1 1 15rem;
}

.talk .info {
    text-align: center;
    flex: 1 1 25rem;
}

.talk .info h2 {
    margin-top: 0;
}

.talk .info a {
    font-weight: 500;
}

img.profile {
    float: right;
    margin-left: 2rem;
}