<html>

    <head>
        <title>
            {% if page.title %}
            {{page.title}} &mdash;
            {% endif %}
            Steve Desmond
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/notosans/noto.css" />
        <link rel="stylesheet" href="/assets/site.css" />
    </head>

    <body>
        {% include navigation.html %}
        
        <main>
            {{content}}
        </main>
    </body>

</html>